.scrollButton {
    position: fixed;
    bottom: 50px;
    right: 5vw;
    z-index: 1000;
    width: 45px;
    height: 45px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    will-change: backdrop-filter;
    backdrop-filter: var(--default-blur-filter);
    font-family: var(--accent-font);
    font-size: 50px;
    padding-left: 4px;
    padding-top: 20px;
}

.scrollButton.visible {
    opacity: 1;
    transform: translateY(0);
}

.scrollButton svg {
    vertical-align: middle;
    rotate: 180deg;
    color: var(--button-color);
}

.scrollButton:hover svg {
    color: var(--button-color-hover);
}
