.scrollButton {
    position: fixed;
    bottom: 50px;
    right: 5vw;
    z-index: 1000;
    width: 45px;
    height: 45px;
    color: rgba(var(--primary-font-color), var(--tertiary-opacity));
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    text-align: center;
    border-radius: 50%;
    will-change: backdrop-filter;
    background: var(--primary-blur-background);
    backdrop-filter: var(--default-blur-filter);
    font-family: var(--accent-font);
    font-size: 50px;
    padding-left: 4px;
    padding-top: 20px;

    svg {
        vertical-align: middle;
        rotate: 180deg;
        color: var(--button-color);
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    &:hover {
        svg {
            color: var(--button-color-hover);
        }
    }
}