.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
    background: white;
    margin: 0 auto;
    will-change: backdrop-filter, height, background;
    background: var(--primary-blur-background);
    backdrop-filter: var(--default-blur-filter);
    transition: height 0.5s ease, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: top;
}

.mainPanel {
    display: flex;
    flex-wrap: wrap;
    padding: var(--base-spacing-unit-2x) var(--base-spacing-unit-16x);
    row-gap: var(--base-spacing-unit-2x);
    column-gap: var(--base-spacing-unit-4x);
    justify-content: space-between;
    padding-top: var(--base-spacing-unit-8x);
}

.mainPanel h1 {
    font-family: var(--accent-font);
    font-size: 90px;
    margin: 0;
}

.secondaryPanel {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out, padding 0.3s ease-out;
    padding: 0 var(--base-spacing-unit-16x);
    overflow: hidden;
    flex-grow: 1;
}

.header.open .secondaryPanel {
    grid-template-rows: 1fr;
    padding: var(--base-spacing-unit-8x) var(--base-spacing-unit-16x);
}

.expandablePanel {
    display: flex;
    flex-direction: column;
    gap: var(--base-spacing-unit-16x);
    min-height: 0;
}

.header.open .expandablePanel {
    overflow: visible;
}

.header .toggleButton {
    background: none;
    padding: var(--base-spacing-unit-4x);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    align-self: center;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--accent-font);
    font-size: 50px;
    transform: rotate(170deg);
    padding-top: 40px;
}

.toggleButton:hover {
    color: rgba(0, 0, 0, 1);
}

.toggleButton.active {
    transform: rotate(0);
}

@media (max-width: 768px) {
    .header.open {
        height: 100%
    }

    .mainPanel h1 {
        font-size: 50px;
    }
}