@font-face {
    font-family: 'RhythmicIcon';
    src: url('@/fonts/RhythmicSVG.otf') format('opentype');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex: 1;
}

:root {
    --secondary-font: Arial, sans-serif;

    --primary-font-color: 0, 0, 0;
    --secondary-font-color: 255, 255, 255;

    --primary-font-size: 1.4rem;
    --secondary-font-size: 1.2rem;
    --tertiary-font-size: 1rem;
    --quaternary-font-size: .8rem;

    --primary-opacity: 1;
    --secondary-opacity: .75;
    --tertiary-opacity: .5;

    --button-font-size: var(--secondary-font-size);
    --button-color: rgba(var(--primary-font-color), var(--secondary-opacity));
    --button-color-hover: rgba(var(--primary-font-color), var(--primary-opacity));
    --button-font: var(--secondary-font);

    --base-spacing-unit: 2px;
    --base-spacing-unit-2x: 4px;
    --base-spacing-unit-4x: 8px;
    --base-spacing-unit-8x: 16px;
    --base-spacing-unit-12x: 24px;
    --base-spacing-unit-16x: 32px;

    --default-border-radius: var(--base-spacing-unit-4x);
    --default-blur-filter: blur(10px);
    --primary-blur-background: rgba(255, 255, 255, 0.5);
    --secondary-blur-background: rgba(0, 0, 0, 0.5);

    --card-width: 250px;
    --card-height: 300px;

    --modal-width: 450px;
    --modal-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

    --icon-button-width: 30px;
    --icon-button-height: 30px;
}

.title {
    font-size: var(--primary-font-size);
    font-family: var(--primary-font), sans-serif;
    color: rgba(var(--primary-font-color), var(--primary-opacity));
}

.subtitle {
    font-size: var(--secondary-font-size);
    font-family: var(--primary-font), sans-serif;
    color: rgba(var(--primary-font-color), var(--secondary-opacity));
}

.screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}