.addPerfumeForm {
    display: flex;
    gap: var(--base-spacing-unit-8x);
}

.addPerfumePopup .previewCard {
    align-self: center;
    margin-bottom: var(--base-spacing-unit-12x);
    font-family: var(--primary-font);
}

.previewActions {
    display: flex;
    gap: var(--base-spacing-unit-8x);
    text-align: center;
}

.addPerfumePopup video {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    margin-top: var(--base-spacing-unit-8x);
}