.selectWrapper {
    display: flex;
    align-items: center;
    width: 300px;
    border-bottom: 1px solid black;
}

.selectWrapper.small {
    width: 80px;
}

.selectWrapper select {
    flex: 1;
    width: 100%;
    background: transparent;
    padding: var(--base-spacing-unit-4x) var(--base-spacing-unit-8x);
    padding-left: 0;
    font-size: var(--subtitle-font-size);
    text-indent: -2px;
    cursor: pointer;
    border-color: transparent;
}

.selectWrapper button {
    margin-left: var(--base-spacing-unit-2x);
    vertical-align: middle;
    color: black;
}

.selectWrapper button:hover {
    margin-left: var(--base-spacing-unit-2x);
    vertical-align: middle;
}

.selectWrapper button svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.selectWrapper .label {
    visibility: hidden;
    position: absolute;
}