.inputWrapper {
    border-bottom: 1px solid black;

    .input {
        font-family: var(--primary-font);
        border: none;
        background: transparent;
        color: rgba(var(--primary-font-color), var(--primary-opacity));
        width: 300px;
        padding: var(--base-spacing-unit-4x) var(--base-spacing-unit);
        box-sizing: border-box;
        font-size: var(--secondary-font-size);
        cursor: pointer;
    }

    .label {
        visibility: hidden;
        position: absolute;
    }
}