.inputWrapper {
    border-bottom: 1px solid black;
}

.input {
    font-family: Montserrat, sans-serif;
    border: none;
    background: transparent;
    color: #333;
    width: 300px;
    padding: var(--base-spacing-unit-4x) var(--base-spacing-unit);
    box-sizing: border-box;
    font-size: var(--subtitle-font-size);
    cursor: pointer;
}

.label {
    visibility: hidden;
    position: absolute;
}