.button {
    align-self: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    text-transform: uppercase;
    font-size: var(--button-font-size);
    color: var(--button-color);
    font-family: var(--button-font), sans-serif;
    letter-spacing: 1px;
    text-align: start;
    outline-offset: 2px;
}

.button.hidden {
    visibility: hidden;
}

.button[disabled] {
    pointer-events: none;
    color: rgba(var(--button-color), 0.8);
}

.button:hover {
    color: var(--button-color-hover);
}